# dependencies
node_modules/

# test artifacts
test-results/
*.log
*.zip

# environment config
.env

# IDE/editor
.vscode/
.idea/
.DS_Store

# Playwright reports
allure-results/
allure-report/
playwright-report/
